body {
    background-color: rgb(202, 74, 74);

}

h1 {
    color: darkgoldenrod;
    text-shadow: 0in;
    align-items: center;
}


ol {
    table-layout: auto;
    column-rule-color: aqua;
}

div{
    align-items: center;
}