body {
    background-color: rgb(202, 74, 74);

}

#main_tittle {
    color: darkgoldenrod;
    text-shadow: 0in;
    align-items: center;
}


#ordered_list {
    table-layout: auto;
    column-rule-color: aqua;
}